body{
	width: 100%;
	height: 100vh;
	background-color: black;
}

.nav{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	list-style: none;
	padding: 0px;
	background-color: rgba(193, 72, 123, 0.6);	
}

.nav-link.active{
	background-color: rgba(193, 72, 123, 0.8);
}

.nav-link{
	color: white;
}
.navbar-toggler {
	background-color: rgba(193, 72, 123, 0.8);
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
  color: black;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 0px;
  background-color: rgba(199, 168, 168, 0.52);
  height: 49px;
  padding-top: 25px;
}

.nav-pills .nav-link {
  border-radius: 20%;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: rgba(193, 72, 123, 0.6);
}
#hello{
	margin-left: 21%;
	margin-top: 20%;
	font-size: 52px;
	line-height: 52px;
	color: #A92E5B;
}
#desc{
	margin-top: 8%;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
}
#travel{
	margin-top: 30px;
	font-size: 26px;
	color: #A92E5B;
}
.travel-desc{
	text-align: justify;
}
#environment{
	margin-top: 30px;
	font-size: 26px;
	color: #A92E5B;
}
.env-desc{
	text-align: justify;
}
#creativity{
	margin-top: 30px;
	font-size: 26px;
	color: #A92E5B;
}
.creativity-desc{
	text-align: justify;
	margin-bottom: 30px;
}
#music{
	margin-top: 30px;
	font-size: 26px;
	color: #A92E5B;
}
.music-desc{
	text-align: justify;
}
#horror{
	margin-top: 30px;
	font-size: 26px;
	color: #A92E5B;
}
.horror-desc{
	text-align: justify;
}
#dedicate{
	margin-top: 30px;
	font-size: 26px;
	color: #A92E5B;
}
.dedicate-desc{
	text-align: justify;
}
.container2{
	margin-right: 60px;
}

#mypic{
	width: 300px;
	height: 400px;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 25px 25px 0px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	margin-left: 2%;
	margin-top: 16%;
}

#scenery{
	width: 250px;
	height: 375px;
	margin-left: 26%;
	margin-top: 40px;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
	border-radius: 28px;
}
#quote{
	margin-left: 10%;
	margin-top: 38px;
	font-size: 27px;
	line-height: 30px;
	text-align: center;	
	color: #A92E5B;
}


.container3{
	margin-top: 20px;
}


/*profile.html*/

#name{
	margin-top: 20px;
	font-size: 36px;
	margin-left: 50px;
}
#date{
	font-size: 16px;
	color: #A92E5B;
	margin-left: 50px;
}
#dots{
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 50px;
	font-size: 26px;
}
.emojis{
	font-size: 40px;
	margin-left: 336px;
	margin-top: 40px;
}
#headd{
	margin-left: 15px;
}
#ed{
	font-size: 25px;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 10px;
	color: #A92E5B;
	text-decoration: underline;
}
.edu{
	font-size: 15px;
	margin-left: 60px;
}

#ach{
	font-size: 25px;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 15px;
	color: #A92E5B;
	text-decoration: underline;
}
.achv{
	font-size: 15px;
	margin-left: 60px;
}

#exp{
	font-size: 25px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 10px;
	color: #A92E5B;
	text-decoration: underline;
}
.expr{
	font-size: 14px;
	margin-left: 40px;
}

#skills{
	font-size: 25px;
	font-weight: bold;
	margin-left: 60px;
	margin-top: 10px;
	color: #A92E5B;
	text-decoration: underline;
}
.sk{
	font-size: 15px;
	margin-left: 70px;
}
.components{
	margin-top: 150px;
}

/* contacts.html */
#copyright{
	font-size: 18px;
	margin-bottom: 0px;
	text-align: center;
	color: #A92E5B;
}
#text{
	color: #A92E5B;
	text-align: center;
	line-height:55px;
	margin-top: 204px;
	font-size: 55px;
}


/* create.html */
.add-title{
	margin-top: 50px;
	margin-left: 76px;
	color: #A92E5B;;
}

#formulir{
	margin-top: 20px;
	margin-left: 60px;
	margin-right: 60px;
}

.btn-primary{
	color: #fff;
	background-color: #A92E5B;
	border-color: #A92E5B;
	margin-top: 40px;
}

.table-responsive{
	margin-top: 30px;
}

.ev-title{
	padding-top: 30px;
	padding-left: 30px;
}

#head{
	color: #A92E5B;
}

.tombol{
	margin-left:30px;
}
